* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bgimage/small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    position: fixed;
    top: 5px;
    right: 5px;
    font-family: cursive;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: #e0167b;
}
h1{
    color: #e0167b;
    font-size: 2rem;
    text-align: center;
    font-family: cursive;
    pointer-events: none;
    margin-top: 50px;
    margin-bottom: 10px;
}
.photo {
    height: 100px;
    width: 100px;
    border: 1px solid  #4b4b4b;
    border-radius: 50%;
    margin: auto;

}
.slide{
    height: 100%;
    width: 200px;
    position: fixed;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 10px 0px;
    transform: translate(-110%);
    z-index: 1;
}

.blur{
    position: absolute;
    height: 100%;
    width: 200px;
    transition: 0.5s ease-in-out;
    transform: translate(-110%);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

.slide ul li {
    list-style: none;

}
.slide ul li a{
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
    display: block;
    padding: 12px;
    margin: 1px;
}
.active, .slide ul li a:hover {
    color: #fff;
    background-color: blueviolet;
}
/*toggle style*/
.inputbtn{
    display: none;
}
.toggle{
    position: fixed;
    top: 20px;
    left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    cursor: pointer;
    z-index: 2;
    transition: all  0.5s ease-in-out;

}
.toggle .toggle-common{
    height: 4px;
    width: 20px;
    border-radius: 10px;
    background-color: #e0167b;
    position: absolute;
    transition: 0.2s ease-in-out;
}
.toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .end-line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input:checked ~ .toggle {
    transform: translateX(140px);
}
input:checked ~ .toggle .top-line{
left: 2px;
top: 13px;
width: 27px;
transform: rotate(45deg);
}
input:checked ~ .toggle .end-line{
    left: 2px;
    top: 13px;
    width: 27px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle-line{
    left: 2px;
    top: 13px;
    width: 27px;
    transform: rotate(-45deg);
}
/*toggle style*/

/*Final code toggle*/
input:checked ~ .slide, .blur{
    transform: translate(0);
}
@media screen and  (min-width: 1100px) {
    body{
        background-image: url(bgimage/large1.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    section{
        top: 100px;
    }
    .logo{
        display: none;
    }
    .blur{
        position: absolute;
        width: 100%;
    }
    .slide {
        transform: translate(0%);
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .slide ul li {
        display: inline-block;
    }
    .slide ul li a {
         padding: 10px 20px;
         transition: all 0.3s;
    }
    .slide ul {
        left: 0;
    }
    h1{
        margin-top: 0;
        padding: 15px;
    }
    .toggle{
        display: none;
    }
}
section{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}
.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    box-shadow: 0px 0px 10px 0px;
    margin: 20px;
    height: 100px;
    width: 260px;
    
}
.div-blur{
    position: absolute;
    height: 100px;
    width: 260px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}
.container a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #e0167b;
}
.disable{
    pointer-events: none;
    color: rgba(255, 0, 0, 0.603);
}
footer{
    border-top: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #00000011;
}
footer a img{
    height: 40px;
}
.blur-footer{
    position: absolute;
    height: 50px;
    width: 100%;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
}
